.details {
  position: sticky;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  color: white;
  padding: 30px;
  border: 1px solid white;
}

.details p,
.details h3,
.details h4 {
  text-align: justify;
}

.closeIcon {
  margin-top: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.closeIcon:hover{
  cursor: pointer;
}
