:root {
  --colorButton: #6c6c6c;
}

header {
  margin: 0 10%;
}

.search {
  margin: 5% 5%;
  display: flex;
  justify-content: center;
}

.search-input {
  box-sizing: border-box;
  height: 40px;
  width: 50%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border: 1px solid var(--colorButton);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  padding: 0 40px;
  font-size: 16px;
  outline: none;
}

.search-input:focus-visible {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  outline: none;
}

.search-input:focus-visible ~ .search-button {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.search-button {
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 14px;
  height: 40px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background: var(--colorButton);
  border: 1px solid var(--colorButton);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  color: white;
}

.search-button:hover {
  cursor: pointer;
}
